#mark {
	display: none;
	margin: auto auto 0;
	user-select: none;
	pointer-events: none;
	position: relative;
	width: 200px;
	z-index: 2;
	@media screen and (max-width: 414px){
		transform: scale(0.9);
	}
	@media screen and (max-width: 375px){
		transform: scale(0.72);
	}
	mix-blend-mode: multiply;
	#shadow {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
	}
}