@import 'reset';

body {
	font-family: "futura-pt",sans-serif;
}

.headline {
	font-family: "clarendon-text-pro",sans-serif;
	font-weight: 700;
}

a {
	color: inherit;
	opacity: 1;
	transition: opacity 0.3s ease;
	&:hover {
		opacity: 0.6;
	}
}

#wrapper {
	box-sizing: border-box;
	background: linear-gradient(139deg, #333 0%, #111 100%);
	display: flex;
	flex-direction: column;
	padding: 64px 0;
	overflow: hidden;
	min-height: 100vh;
	i {
		color: #fff;
		position: absolute;
		bottom: 16px;
		font-size: 44px;
		opacity: 0;
		left: 50%;
		margin-left: -22px;
		user-select: none;
		transition: 0.8s ease;
		transition-delay: 0.8s;
		transform: translate3d(0, -32px, 0);
	}
	&.loaded {
		i {
			opacity: 0.25;
			transform: translate3d(0, 0, 0);
		}
	}
}

article {
	background: #fff;
	color: #333;
	box-sizing: border-box;
	text-align: center;
	padding: 64px 32px 64px;
	position: fixed;
	bottom: 0;
	height: auto;
	width: 100%;
	z-index: -1;
	h2 {
		margin: 0 0 32px;
		font-size: 32px;
	}
	h3 {
		color: #555;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
		margin: 32px 0 16px;
		&:before {
			content: "";
			border-top: solid 2px #cecece;
			display: block;
			margin: 32px auto;
			width: 64px;
		}
	}
	p {
		color: #888;
		font-size: 21px;
		font-weight: 300;
		line-height: 32px;
		margin: 0 auto;
		max-width: 720px;
	}
	ul.social {
		display: flex;
		flex-direction: row;
		text-align: center;
		margin: 16px auto 0;
		max-width: 260px;
		li {
			display: inline-block;
			font-size: 24px;
			margin: auto;
			position: relative;
		}
		a {
			display: block;
			text-decoration: none;
			padding: 8px 12px 4px;
			transition: 0.3s ease;
			i {
				display: block;
				transform: scale(1);
				transition: 0.3s ease;
			}
			&:hover {
				background: #111;
				i {
					transform: scale(0.92);
				}
			}
		}
	}
}

@import 'paper';
@import 'header';
@import 'article';